*
{
    margin: 0;
    padding: 0;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background: hsla(10, 89%, 70%, 1);
    background: linear-gradient(90deg, hsla(10, 89%, 70%, 1) 0%, hsla(350, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(10, 89%, 70%, 1) 0%, hsla(350, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(10, 89%, 70%, 1) 0%, hsla(350, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F78770", endColorstr="#FF607B", GradientType=1 );
    padding: 0 !important;
}

.navbar-brand
{
    padding-left: 20px;
    font-weight: 800;
    color: #fff !important;
}

.navbar-nav li
{
    padding: 0 8px;
}

.navbar-nav li a
{
    color: #fff !important;
    font-size: 10px !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 22px !important;
}

.navbar-toggler
{
    outline: none !important;
}

.carousel-inner
{
    margin-top: 60px;
}

.col-md-6 form
{
    margin-top: 60px !important;
}

form
{
    padding: 100px 20px !important;
    border: 2px solid;
}

.col-md-6 .mail
{
    margin-bottom: 20px !important;
}